/*$primary-font-family: Source Sans Pro, sans-serif;*/

@mixin heading($alignment: left) {
  text-align: $alignment;
  font-style: italic;
  font-weight: bolder;
  font-size: clamp(1.4rem, 2vw, 5rem);
}
@mixin primary-heading($alignment: left) {
  text-align: $alignment;
  font-weight: bolder;
  font-size: clamp(1.4rem, 3vw, 5rem);
}
@mixin secondary-heading($alignment: left) {
  text-align: $alignment;
  font-weight: bolder;
  font-size: clamp(1.4rem, 2.5vw, 5rem);
}
@mixin tertiary-heading($alignment: left) {
  text-align: $alignment;
  font-weight: bolder;
  font-size: clamp(1.4rem, 2vw, 5rem);
}
.subtitle {
  color: #444444;
}
