$color-1: #{var(--color-1)};
$color-2: #{var(--color-2)};
$color-3: #{var(--color-3)};
$color-4: #{var(--color-4)};
$golden: #e2b85e;
$toasted-orange: #ee4e34;
$grey-base: #e3e3e2;
$primary-gradient: linear-gradient(90deg, #000000 0%, #53346d 100%);
