/*$default-font-size: (32px, 24px, 18.72px, 16px, 13.28px, 10.72px);*/

/*$primary-font-family: Source Sans Pro, sans-serif;*/

@mixin responsive-font-size {
  h2 {
    font-size: clamp(1.4rem, 2.5vw, 5rem);
  }
  p {
    font-size: clamp(1.2rem, 1.4vw, 2.5rem);
  }
}

.responsive-font-size {
  h2 {
    font-size: clamp(1.4rem, 2.5vw, 5rem);
  }
  p {
    font-size: clamp(1.2rem, 1.4vw, 2.5rem);
  }
}
