.errorWarning {
  width: 100%;
  max-width: 320px;
  color: #f1f1f1;
  font-weight: bolder;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
.errorWarning__message {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
